# Server
PORT=3001
FRONTEND_URL=http://localhost:3000

# Sanity Configuration
SANITY_PROJECT_ID=sanity_project_id
SANITY_DATASET=production
SANITY_API_TOKEN=sanity_api_token
SANITY_PREVIEW_SECRET=sanity_preview_secret

# Supabase
SUPABASE_URL=supabase_url_here
SUPABASE_ANON_KEY=supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=supabase_service_role_key_here


# Email Service
RESEND_API_KEY=resend_api_key_here

# App Provisioning Security
PROVISIONING_SECRET=provisioning_secret_here

# Cloudflare R2 (For Uploads - Not yet implemented in backend)
CLOUDFLARE_R2_ACCESS_KEY_ID=cloudflare_r2_access_key_id_here
CLOUDFLARE_R2_SECRET_ACCESS_KEY=cloudflare_r2_secret_access_key_here
CLOUDFLARE_R2_ENDPOINT=cloudflare_r2_endpoint_here


HUBTEL_MERCHANT_ACCOUNT=203
HUBTEL_API_ID=hubtel_api_id_here
HUBTEL_API_KEY=hubtel_api_key_here

ADMIN_EMAILS=admin_emails_here_separated_by_comma

PAYSTACK_SECRET_KEY=paystack_secret_key_here


ARKESEL_API_KEY=your_arkesel_api_key_here

# apps
CHURCH_HUB_SUPABASE_URL=church_hub_supabase_url_here
CHURCH_HUB_SUPABASE_SECRET_KEY=church_hub_supabase_secret_key_here

STOCK_FLOW_SUPABASE_URL=stock_flow_supabase_url_here
STOCK_FLOW_SUPABASE_SECRET_KEY=stock_flow_supabase_secret_key_here
